// ==========================
//	BREAKPOINT MOBILE FIRST
// ==========================

// SCREEN SIZE
// (mobile < 768px )
$screen-sm: 768px; // Tablet Portrait >= 768px AND < 1024px
$screen-md: 1024px; // Tablette Paysage >= 1024px AND < 1200px
$screen-lg: 1200px; // Desktop >= 1200px

// EXAMPLE USAGE:
	 
// @include breakpoint(sm) {
// 	property: value;
// }


@mixin breakpoint($point) {
	
  	// =======================
	//		Upper
	// =========================
	
	// mobile fist so XS is applied to all screen
  	@if $point == xs{
   		 @content
  	}
  	
  	// from sm screen size and upper
  	@else if $point == sm {
   		@media (min-width: $screen-sm){ @content; }
  	}
  	// from md screen size and upper
  	@else if $point == md {
   		@media (min-width: $screen-md){ @content; }
  	}
  	
  
  	
  	// =======================
	//		Strict
	// =======================
	
  	
	@else if $point == xs-only{
   		@media (max-width: $screen-sm - 1){ @content; }
  	}
  	@else if $point == sm-only {
   		@media (min-width: $screen-sm) and (max-width: $screen-md - 1){ @content; }
  	}
  	@else if $point == md-only {
   		@media (min-width: $screen-md) and (max-width: $screen-lg - 1){ @content; }
  	}
  	
  	// from lg screen and upper (but nothing its upper than lg)
  	@else if $point == lg or $point == lg-only {
   		@media (min-width: $screen-lg){ @content; }
  	}
  	
  	
  	
  	
  	// =======================
	//		DownOF
	// ========================
	// down of md size
  	@else if $point == md-down {
   		@media (max-width: $screen-md - 1){ @content; }
  	}
  	
  	// from sm screen size and upper
  	@else if $point == sm-down {
   		@media (max-width: $screen-sm - 1){ @content; }
  	}
  	
  	

}


