$gutter: 20px;

@mixin cols($device: xs) {
	.col-#{$device}-one{ flex-basis: 100% }
	.col-#{$device}-two{ flex-basis: calc((100% / 2) - #{$gutter}  / 2) }
	.col-#{$device}-three{ flex-basis: calc((100% / 3) - #{$gutter}  / 2) }
	.col-#{$device}-four{ flex-basis: calc((100% / 4) - #{$gutter}  / 2) }
	.col-#{$device}-five{ flex-basis: calc((100% / 5) - #{$gutter}  / 2) }
	.col-#{$device}-six{ flex-basis: calc((100% / 6) - #{$gutter}  / 2) }
	.col-#{$device}-seven{ flex-basis: calc((100% / 7) - #{$gutter}  / 2) }
	.col-#{$device}-eight{ flex-basis: calc((100% / 8) - #{$gutter}  / 2) }
	.col-#{$device}-nine{ flex-basis: calc((100% / 9) - #{$gutter}  / 2) }
	.col-#{$device}-ten{ flex-basis: calc((100% / 10) - #{$gutter}  / 2) }
	.col-#{$device}-eleven{ flex-basis: calc((100% / 11) - #{$gutter}  / 2) }
	.col-#{$device}-twelve{ flex-basis: calc((100% / 12) - #{$gutter}  / 2) }
}

@mixin vertical_row($device: xs){
	.row.#{$device}-vertical{
		flex-direction: column;
		height: 100%;
		margin: 0;
		>[class*="col-"] > .row{
			height: 100%;
			margin: 0;
		}
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

[class*="col-"]{
	
}
.row{
	margin: $gutter 0;
}

.container{
	width: calc(100% - #{$gutter} * 2);
	max-width: 1170px;
	margin: auto;
}


	
@include cols(xs);
@include vertical_row(xs);

@include breakpoint(sm) {
	@include cols(sm);
	@include vertical_row(sm);
}
@include breakpoint(md) {
	@include cols(md);
	@include vertical_row(md);
}
@include breakpoint(lg) {
	@include cols(lg);
	@include vertical_row(lg);
}

