$gutter: 20px;
$gutter-half: $gutter/2;
$nb-cols: 12;
@mixin cols($device: xs) {
	
	@for $i from 1 through $nb-cols {
		@if($i==1){
			// DEFINE COLUMN SIZE IN ROW CLASS NAME (ALL COLUMN SAME SIZE)
			.#{$device}-#{$i}-columns > .col {
				flex-basis: 100%;
			}
			
			
			
		}@else{
			$size: percentage( 1 / $i );
			$nb-gutters: $i - 1;
			.#{$device}-#{$i}-columns > .col {
				flex-basis: calc(#{$size} - #{$gutter} * #{$nb-gutters} / #{$i});
			}
			
			.#{$device}-#{$i}-columns.no-gutter > .col {
				flex-basis: $size;
			}
		}
		
		// DEFINE column size on each column into a row (Different column size)
		$size: percentage( $i / $nb-cols);
		.row > .col-#{$device}-#{$i} {
			flex-basis: #{$size};
			padding: $gutter-half;
		}
		
		
	}
	
	/*.col-#{$device}-one{ flex-basis: 100% }
	.col-#{$device}-two{ flex-basis: calc((100% / 2) - #{$gutter} * 1 / 2) }
	.col-#{$device}-three{ flex-basis: calc((100% / 3) - #{$gutter} * 2 / 3) }
	.col-#{$device}-four{ flex-basis: calc((100% / 4) - #{$gutter} * 3 / 4) }
	.col-#{$device}-five{ flex-basis: calc((100% / 5) - #{$gutter} * 4 / 5) }
	.col-#{$device}-six{ flex-basis: calc((100% / 6) - #{$gutter} * 5 / 6) }
	.col-#{$device}-seven{ flex-basis: calc((100% / 7) - #{$gutter} * 6 / 7) }
	.col-#{$device}-eight{ flex-basis: calc((100% / 8) - #{$gutter} * 7 / 8) }
	.col-#{$device}-nine{ flex-basis: calc((100% / 9) - #{$gutter}  * 8 / 9) }
	.col-#{$device}-ten{ flex-basis: calc((100% / 10) - #{$gutter}  * 9 / 10) }
	.col-#{$device}-eleven{ flex-basis: calc((100% / 11) - #{$gutter} * 10 / 11) }
	.col-#{$device}-twelve{ flex-basis: calc((100% / 12) - #{$gutter} * 11 / 12) }*/
}

// calc((100% / 4) - 20px * 3  / 4) 

@mixin vertical_row($device: xs){
	.#{$device}-vertical{
		flex-direction: column;
		height: 100%;
		margin: 0;
		> .col > [class*="-columns"]{
			height: 100%;
			margin: 0;
		}
	}
}
[class*="col-"]{
	min-height: 1px;
}
.row,
[class*="-columns"]{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: $gutter 0;

}


.row{
	margin: $gutter -#{$gutter-half};

}

.container{
	width: calc(100% - #{$gutter} * 2);
	max-width: 1170px;
	margin: auto;
	overflow: hidden;
}
.container-fluid{
	width: 100%;
	overflow: hidden;
}
.test > *{
	background-color: red;
}

	
@include cols(xs);
@include vertical_row(xs);

@include breakpoint(sm) {
	@include cols(sm);
	@include vertical_row(sm);
}
@include breakpoint(md) {
	@include cols(md);
	@include vertical_row(md);
}
@include breakpoint(lg) {
	@include cols(lg);
	@include vertical_row(lg);
}

