@mixin absolute($top: unset, $right: unset, $bottom: unset, $left: unset){
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@function calculateRem($px) {
    $remSize: $px / 16px;
    @return $remSize * 1rem;
}

@mixin fontsize($px) {
    font-size: calculateRem($px)
}
@mixin absCenter(){
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}