/* =======================
	      HEADER 
   =======================	*/
.logo{
	display: block;
	margin-top: 30px;
	padding-top: 3px;
	padding-left: 57px;
	position: relative;
	.logo-icon{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 47px;
		width: 47px;
		background-color: $dark-gray;
		color: $white;
		overflow: hidden;
		span{
			@include absCenter();
			@include fontsize(40px);
			text-transform: uppercase;
		}
		&::after{
			content:"";
			background-color: #ff4747;
			@include absolute(unset, -5px, -5px, unset);
			height: 10px;
			width: 10px;
			transform: rotate(45deg);
			
		}
	}
	h1{
		margin: 0;
	}
	h2{
		font-size: $font-base;
		text-transform: none;
		font-weight: normal;
		margin: 0;
		color: $mid-gray;
	}
}

header{
	blockquote{
		margin: 0;
		@include fontsize(24px);
		line-height: 1.5em;
		margin-top: 45px;
		color: $dark-gray;
		max-width: 780px;
	}
}
header nav{
	overflow: hidden;
	.hamburger{
		width: 40px;
		height: 40px;
		display: inline-block;
		background-color: $dark-gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		float: right;
		
		span{
			width: 17px;
			height: 3px;
			background-color: $white;
			+ span{
				margin-top: 3px;
			}
		}
	}
}
header + hr{
	margin-top: 14px;
}