
/* =======================
	      SLIDER 
   =======================	*/

#slider{
	background-color: $light-gray;
	background-image: url('../img/slider.png');
	background-size: contain;
	background-position: -80px bottom;
	height: 250px;
	margin: $gutter (-$gutter);
	position: relative;
	
	@include breakpoint(sm-only){
		background-position: left top;
		background-size: 50%;
	}
	@include breakpoint(md){
		height: 600px;
		margin: 0;
		background-position: contain bottom;
	}
	.slider-info{
		left: 40%;
		@include breakpoint(sm){
			left: 50%;
		}
		padding-left: $gutter;
		position: absolute;
		bottom: 20%;
		
	}
	h3{
		@include fontsize(24px);
		@include breakpoint(md){
			@include fontsize(34px);
		}
		letter-spacing: 0;
		margin-top: 0.2em;
		margin-bottom: 0.6em;
	}
	h4{
		margin-bottom: 0;
	}
}


/* =======================
	 FEATURED COLLECTIONS 
   =======================	*/

#featured{
	h2{
		text-transform: capitalize;
	}
}
.collection{
	position: relative;
	background-color: $light-gray;
	padding-bottom: calc( 50% - (#{$gutter} / 2));
	.title{
		@include absolute(30px, unset, unset, 30px);	
	}
	h3{
		margin: 0;
	}
}
#mens-jacket{
	background-image: url(../img/mens-jacket.png);
	background-position: right top;
	@include breakpoint(md){
		background-position: right bottom;	
	}
}
#womens-shoes{
	background-image: url(../img/womens-shoes.png);
	background-position: right -140px;
}

#backpack{
	background-image: url(../img/backpack.png);
	background-position: right 60px;
}
#glasses{
	background-image: url(../img/glasses.png);
	background-position: right bottom;
	@include breakpoint(sm){
		background-size: 85%;
	}
	@include breakpoint(lg){
		background-size: initial;
	}
}

.view{
	font-style: italic;
}


@mixin absolutePos($top: unset, $right: unset, $bottom: unset, $left: unset){
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
/* =======================
	 	NEWSLETTER 
   =======================	*/
#newsletter{
	padding: 70px 0 40px;
	input{
		max-width: 375px;
		width: 80%;
		margin-top: 30px;
	}
}
   
   

/* =======================
	 POPULAR PRODUCT 
   =======================	*/


.product {
	margin-bottom: $gutter;
	.meta{
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
	h4{
		margin: 0 0 7px 0;
		@include fontsize(14px);
		text-transform: capitalize;
		font-weight: bold;
	}
	.price{
		@include fontsize(14px);
		strike{
			@include fontsize(13px);
			color: $mid-gray;
		}
	}
	figure{
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
			transition: all .14s ease-in-out;
		}
		
		&:hover{
			figcaption{
				opacity: 1;
				transform: translateY(0px);
			}
			img{
				transform: scale(1.1);
			}
		}
	}
	figcaption{
		@include absolute(20px,20px,20px,20px);
		background-color: $white;
		opacity: 0;
		transition: all .3s ease-in-out;
		transform: translateY(-30px);

		.btn{
			display: block;
			text-align: center;
			span{
				display: none;
			}
			@include breakpoint(sm){
				i{
					display: none;
				}
				span{
					display: inline;
				}
			}
		}
		.btn + .btn{
			margin-top: 10px;
		}
		.buttons{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 34px;
			width: 100%;
		}
	}
}

/* =======================
		BLOG 
   =======================	*/
#blog{
	article{
		text-align: center;
		@include breakpoint(md){
			&:first-child{
				text-align: right;
				padding-right: $gutter;
			}
			text-align: left;
			padding-left: $gutter;
			padding-right: 0;
			
		}
		
		h2{
			font-weight: normal;
			text-transform: none;
			margin-bottom: 0;
		}
	}
	nav{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav .dot{
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: #d2d2d2;
		transform-origin: center center;
		transform: rotateZ(45deg);
		&.current{
			width: 10px;
			height: 10px;
			background-color: transparent;
			border: 2px solid $dark-gray;
		}
		+ .dot{
			margin-left: 8px;
		}
	}
}
