@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto+Slab:400,700');

.logo{
	h1, 
	.logo-icon{
		font-family: 'Raleway', sans-serif;
	}
}
body{
	font-family: 'Roboto Slab', serif;
	color: $mid-gray;
	font-size: $font-base;
}
h1, h2, h3, h4, h5{
	color: $dark-gray;
}
h1{
	text-transform: uppercase;
}
h2{
	@include fontsize(18px);
	text-transform: uppercase;
}
h3{
	@include fontsize(14px);
	text-transform: uppercase;
	letter-spacing: calculateRem(2px);
}
h4{
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: calculateRem(1px);
}