.product .rating {
	padding: 0;
	margin: 0;
	border: none;
	@include fontsize(10px);

}
.product .rating > input { display: none; } 
.product .rating > label:before { 
  margin-left: 5px;
  @include fontAwesome();
  font-weight: 900;
  display: inline-block;
  content: "\f005";
}

.product .rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.product .rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.product .rating > input:checked ~ label, /* show gold star when clicked */
.product .rating:not(:checked) > label:hover, /* hover current star */
.product .rating:not(:checked) > label:hover ~ label { color: #fbaf5d;  } /* hover previous stars in list */

.product .rating > input:checked + label:hover, /* hover current star when changing rating */
.product .rating > input:checked ~ label:hover,
.product .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.product .rating > input:checked ~ label:hover ~ label { color: #f0b372;  } 